@{
    ViewData["Title"] = "Home Page";
}
<div class="row">
    <div class="col-xs-3"> </div>
    <div class="col-xs-6"> </div>
    <div class="col-xs-3">
        <button data-toggle="modal" data-target="#modalAdminData">
            Настройка
        </button>

    </div>

</div>

<div class="row topicText">
    <div class="col-xs-3"> </div>
    <div class="col-xs-6">
        <h3 class="bg-info">
            <strong>
                Понравилось ли вам наше обслуживание?
            </strong>
        </h3>
    </div>
    <div class="col-xs-3"> </div>
</div>

<div class="row voteControl">
    <div class="col-xs-4 voteControl_goodButton">
        <img src="~/images/voteControl__buttonOk.png" id="btnOk" data-toggle="popover" data-content="Спасибо за ваш отзыв" title="Оценка принята!">
    </div>
    <div class="col-xs-4  voteControl_neutralButton">
        <img src="~/images/voteControl__buttonNeutral.png" id="btnNeutral" data-toggle="popover" data-content="Спасибо за ваш отзыв" title="Оценка принята!">
    </div>
    <div class="col-xs-4  voteControl_negativeButton" data-toggle="modal" data-target="#modalNegative">
        <img src="~/images/voteControl__buttonNegative.png" id="btnNegative">
    </div>
</div>

@Html.Partial("modalControl");
@Html.Partial("modalAdmin");
