<div class="modal fade" id="modalAdminData" tabindex="-1" role="dialog" aria-labelledby="modalAdminDataLabel" aria-hidden="true">
    <form class="w-30">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h3 class="modal-title text-center" id="modalAdminDataLabel">Введите название филиала</h3>
                    <h4>Для сохранения настройки требуется указать пароль администратора</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <input class="form-control input-lg" type="text" placeholder="password" id="passwordModalAdmin">
                        <input class="form-control input-lg" type="text" placeholder="FilialName" id="fillialModalAdmin">
                    </div>
                    <div class="w-100">
                        <button type="button" class="btn btn-warning modal-content__modal-body__button" id="SaveSettings" data-dismiss="modal">
                            Сохранить настройки
                        </button>

                    </div>
                    <div class="modal-footer">
                        <div class="w-100">
                            <button type="button" class="btn btn-secondary w-100" data-dismiss="modal">Закрыть</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>>
</div>
